<!-- tag::full[] -->
<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='users'">

<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900"
            th:text="${editMode?.name() == 'UPDATE'}?#{user.edit}:#{user.create}">Create user</h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">

                <form id="user-form"
                      th:object="${user}"
                      th:action="${editMode?.name() == 'UPDATE'}?@{/users/{id}(id=${user.id})}:@{/users/create}"
                      method="post">
                    <div>
                        <div th:replace="fragments/forms :: fielderrors"></div>
                        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                            <input type="hidden" th:field="*{version}" th:if="${editMode?.name() == 'UPDATE'}"> <!--.-->
                            <!-- tag::userRole[] -->
                            <div class="sm:col-span-2">
                                <label for="userRole" class="block text-sm font-medium text-gray-700">User
                                    Role</label>
                                <select id="userRole"
                                        class="max-w-lg block focus:ring-green-500 focus:border-green-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                                        th:field="*{userRole}"> <!--.-->
                                    <option th:each="role : ${possibleRoles}"
                                            th:text="#{'UserRole.' + ${role.name()}}"
                                            th:value="${role.name()}">User <!--.-->
                                    </option>
                                </select>
                            </div>
                            <!-- end::userRole[] -->
                            <div class="sm:col-span-6">
                                <label class="block text-sm font-medium text-gray-700"
                                       th:text="#{user.gender}">
                                    Gender
                                </label>
                                <div>
                                    <th:block th:each="possibleGender,iter : ${genders}">
                                        <input type="radio"
                                               th:id="${'gender-'+possibleGender}"
                                               th:field="*{gender}"
                                               th:value="${possibleGender}"
                                               class="mr-1 focus:ring-green-500 h-4 w-4 text-green-500 border-gray-300"
                                               th:classappend="${iter.index > 0 ?'ml-4':''}"
                                        >
                                        <label th:for="${'gender-'+possibleGender}"
                                               th:text="#{'Gender.'+${possibleGender}}"
                                               class="text-sm font-medium text-gray-700">
                                        </label>

                                    </th:block>
                                    <p th:if="${#fields.hasErrors('gender')}"
                                       th:text="${#strings.listJoin(#fields.errors('gender'), ', ')}"
                                       class="mt-2 text-sm text-red-600" id="gender-error">Gender validation error message(s).</p>
                                </div>
                            </div>

                            <!-- tag::textinputs[] -->
                            <div th:replace="fragments/forms :: textinput(#{user.firstName}, 'firstName', 'sm:col-span-3')"></div>
                            <div th:replace="fragments/forms :: textinput(#{user.lastName}, 'lastName', 'sm:col-span-3')"></div>
                            <div th:replace="fragments/forms :: textinput(labelText=#{user.email}, fieldName='email', cssClass='sm:col-span-4', inputType='email')"></div>
                            <th:block th:if="${editMode?.name() == 'CREATE'}"> <!--.-->
                                <div th:replace="fragments/forms :: textinput(labelText=#{user.password}, fieldName='password', cssClass='sm:col-span-4', inputType='password')"></div>
                                <div th:replace="fragments/forms :: textinput(labelText=#{user.password.repeated}, fieldName='passwordRepeated', cssClass='sm:col-span-4', inputType='password')"></div>
                            </th:block>
                            <div th:replace="fragments/forms :: textinput(#{user.phoneNumber}, 'phoneNumber', 'sm:col-span-4')"></div>
                            <div class="sm:col-span-2"></div>
                            <div th:replace="fragments/forms :: textinput(labelText=#{user.birthday}, fieldName='birthday', cssClass='sm:col-span-2', placeholder=#{user.birthday.placeholder})"></div>
                            <!-- end::textinputs[] -->
                        </div>
                    </div>
                    <div class="mt-8 border-t border-gray-200 pt-5">
                        <div class="flex justify-end">
      <span class="inline-flex rounded-md shadow-sm">
        <button type="button"
                class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                th:text="#{cancel}">
          Cancel
        </button>
      </span>
                            <span class="ml-3 inline-flex rounded-md shadow-sm">
        <button type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                th:text="${editMode?.name() == 'UPDATE'}?#{save}:#{create}">
          Save
        </button>
      </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!-- end::full[] -->
