<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='users'">
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="page-content">
    <!-- tag::create-button[] -->
    <div th:replace="fragments/titles :: title-with-button(#{users.title}, 'user-add', #{users.add}, @{/users/create})"
         sec:authorize="hasRole('ADMIN')"></div>
    <!-- end::create-button[] -->
    <!-- tag::alert[] -->
    <div th:if="${deletedUserName}"> <!--.-->
        <div th:replace="fragments/alerts :: success(#{user.delete.success(${deletedUserName})})"></div> <!--.-->
    </div>
    <!-- end::alert[] -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
            <div class="flex flex-col">
                <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                    <div class="align-middle inline-block min-w-full shadow overflow-hidden rounded-md sm:rounded-lg border-b border-gray-200">
                        <table class="min-w-full">
                            <thead>
                            <!-- tag::tr[] -->
                            <tr>
                                <th th:replace="fragments/table :: header(#{user.name})"></th>
                                <th th:replace="fragments/table :: header(title=#{user.gender},hideOnMobile=true)"></th>
                                <th th:replace="fragments/table :: header(title=#{user.birthday},hideOnMobile=true)"></th>
                                <th th:replace="fragments/table :: header(title=#{user.email},hideOnMobile=true)"></th>
                                <th:block sec:authorize="hasRole('ADMIN')"> <!--.-->
                                    <th th:replace="fragments/table :: header('')"></th>
                                    <th th:replace="fragments/table :: header('')"></th>
                                </th:block>
                            </tr>
                            <!-- end::tr[] -->
                            </thead>
                            <tbody>
                            <!-- tag::tr-body[] -->
                            <tr class="bg-white" th:each="user : ${users}">
                                <td th:replace="fragments/table :: data(contents=${user.userName.fullName},primary=true)"></td>
                                <td th:replace="fragments/table :: data(contents=${user.gender},hideOnMobile=true)"></td>
                                <td th:replace="fragments/table :: data(contents=${user.birthday},hideOnMobile=true)"></td>
                                <td th:replace="fragments/table :: data(contents=${user.email.asString()},hideOnMobile=true)"></td>
                                <!-- tag::td-admin[] -->
                                <th:block sec:authorize="hasRole('ADMIN')"> <!--.-->
                                <td th:replace="fragments/table :: dataWithLink('Edit', @{'/users/'+ ${user.id.asString()}})"></td>
                                <td th:x-data="|{name: '${user.userName.fullName}', deleteUrl: '/users/${user.id.asString()}/delete'}|"
                                    class="px-6 py-4 whitespace-no-wrap text-right text-sm font-medium">
                                    <a href="javascript:void(0)"
                                       class="text-green-600 hover:text-green-900"
                                       @click="$dispatch('open-delete-modal', {name, deleteUrl})">Delete</a>
                                </td>
                                </th:block>
                                <!-- end::td-admin[] -->
                            </tr>
                            <!-- end::tr-body[] -->
                            </tbody>
                        </table>
                        <th:block th:if="${users.content.size() > 0}">
                            <div th:replace="fragments/pagination :: controls(page=${users})"></div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tag::modals-content[] -->
<div layout:fragment="modals-content" x-data="modalDeleteConfirmation()"> <!--.-->
    <th:block th:if="${users.content.size() > 0}">
        <div x-show="isVisible()"
             @open-delete-modal.window="showModal($event)"
             class="fixed z-10 inset-0 overflow-y-auto"> <!--.-->
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <!--
                  Background overlay
                -->
                <div class="fixed inset-0 transition-opacity"
                     aria-hidden="true"
                     x-show="isVisible()"
                     x-transition:enter="ease-out duration-300"
                     x-transition:enter-start="opacity-0"
                     x-transition:enter-end="opacity-100"
                     x-transition:leave="ease-in duration-200"
                     x-transition:leave-start="opacity-100"
                     x-transition:leave-end="opacity-0">
                    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>

                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true"></span>&#8203;
                <!--
                  Modal panel
                -->
                <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
                     role="dialog" aria-modal="true" aria-labelledby="modal-headline"
                     x-show="isVisible()"
                     x-transition:enter="ease-out duration-300"
                     x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                     x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                     x-transition:leave="ease-in duration-200"
                     x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                     x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"> <!--.-->
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <!-- Heroicon name: outline/exclamation -->
                            <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                                Delete user
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500"> <!--.-->
                                    Are you sure you want to delete user <span class="italic"
                                                                               x-text="getName()"></span>?
                                </p>
                            </div>
                        </div>
                    </div>
                    <form id="deleteForm" enctype="multipart/form-data" method="post"
                          x-bind:action="getDeleteUrl()"> <!--.-->
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
        <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
          <button type="submit"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
            Delete
          </button>
        </span>
                            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
          <button type="button"
                  @click="hideModal"
                  class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm"> <!--.-->
            Cancel
          </button>
        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</div>
<!-- end::modals-content[] -->
<!-- tag::modals-content-js[] -->
<th:block layout:fragment="page-scripts">
    <script>
        function modalDeleteConfirmation() {
            return {
                show: false,
                name: '',
                deleteUrl: '',
                hideModal() {
                    this.show = false;
                },
                isVisible() {
                    return this.show === true;
                },
                getName() {
                    return this.name;
                },
                getDeleteUrl() {
                    return this.deleteUrl;
                },
                showModal($event) { //<.>
                    this.name = $event.detail.name;
                    this.deleteUrl = $event.detail.deleteUrl;
                    this.show = true;
                }
            };
        }
    </script>
    <!-- tag::success-js[] -->
    <script th:replace="fragments/alerts :: alert-js"></script>
    <!-- end::success-js[] -->
</th:block>
<!-- end::modals-content-js[] -->
</body>
</html>
