<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="separator" class="border-dashed border-2 border-red-300 mx-4">
</div>
<!--
<a th:fragment="menu-item(title, link)"
   th:text="${title}"
   th:href="${link}"
   class="flex items-center px-2 py-2 text-base leading-6 font-medium text-gray-900">
</a>
-->
<a th:fragment="menu-item(title, link, svgContents)"
   th:href="${link}"
   class="group flex items-center px-2 py-2 text-sm leading-5 font-medium text-gray-900 rounded-md bg-gray-100 hover:text-gray-900 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150">
    <svg th:replace="${svgContents}"></svg>
    [[${title}]]
</a>
</body>
</html>
