:root {
  --duet-color-primary: #005fcc;
  --duet-color-text: #333;
  --duet-color-text-active: #fff;
  --duet-color-button: #f5f5f5;
  --duet-color-surface: #fff;
  --duet-color-overlay: rgba(0, 0, 0, 0.8);

  --duet-font: Inter var, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --duet-font-normal: 400;
  --duet-font-bold: 600;

  --duet-radius: 4px;
  --duet-z-index: 600;
}

.duet-date__input {
  border: 1px solid #d2d6dc;
  height: 38px;
}

.error-border .duet-date__input {
  border: 1px solid #f8b4b4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  [x-cloak] {
    display: none;
  }
}
